        <% if current_user.present? %>
          <% if pos.liked_by?(current_user) %>
            <p>
              <%= link_to post_likes_path(pos), method: :delete, remote: true do %>
                ♥<%= pos.likes.count %>
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to post_likes_path(pos), method: :post, remote: true do %>
                ♡<%= pos.likes.count %>
              <% end %>
            </p>
          <% end %>
        <% else %>
          いいね数：<%= pos.likes.count %>
        <% end %>