<% if posts.exists? %>
  <% posts.each do |pos| %>
    <div class="container border mb-3 p-3 shadow">
      <div class="row">
        <div class="col-2">
          <p>
            <%= link_to admin_user_path(pos.user_id) do %>
              <%= image_tag pos.user.get_profile_image(100,100), style: "max-width: 150%;" %>
            <% end %>
          </p>
        </div>
        <div class="col-10">
          <p class="text-left">
            ユーザーネーム：<%= pos.user.name %>
          </p>
          <div class="d-flex flex-row">
              <p>説明：<%= pos.post_text %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to admin_post_path(pos.id) do %>
            <%= image_tag pos.get_image, style: "max-width: 500px; width: 100%;" %>
          <% end %>
        </div>
        <div class="col">
          <div class="row d-flex align-items-center" style="height:80px;">
            <p>撮影場所：<%= pos.shoot_address %></p>
          </div>
          <div class="row d-flex align-items-center" style="height:80px;">
            <p>撮影日時：<%= pos.shoot_date %></p>
          </div>
          <div class="row d-flex align-items-center" style="height:80px;">
            <p>撮影時間：<%= pos.shoot_time %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            いいね数：<%= pos.likes.count %>
        </div>
        <div class="col">
          コメント数：<%= pos.comments.count %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>投稿はありません</p>
<% end %>