<h2>いいねした投稿</h2>

<% @like_posts.each do |pos| %>
  <div class="container border mb-3 p-3">
    <div class="row">
      <div class="col-2">
        <p>
          <%= link_to user_path(pos.user_id) do %>
            <%= image_tag pos.user.get_profile_image(100,100) %>
          <% end %>
        </p>
      </div>
      <div class="col-10">
        <p class="text-left">
          ユーザーネーム：<%= pos.user.name %>
          <%= link_to  user_followings_path(pos.user) do %>
            フォロー<%= pos.user.followings.count %>
          <% end %>
          <%= link_to user_followers_path(pos.user) do %>
            フォロワー<%= pos.user.followers.count %>
          <% end %>
        </p>
        <div class="d-flex flex-row">
            <p class="mr-3">撮影日時：<%= pos.shoot_date %></p>
            <p class="mr-3">撮影時間：<%= pos.shoot_time %></p>
            <p>説明：<%= pos.post_text %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to post_path(pos.id) do %>
          <%= image_tag pos.get_image, :size =>'500x300' %>
        <% end %>
      </div>
      <div class="col">
        <div class="row">
          <p>撮影場所：<%= pos.shoot_address %></p>
        </div>
        <div class="row">
          <%= image_tag pos.get_image, :size =>'300x200' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
                
        <% if pos.liked_by?(current_user) %>
          <p>
            <%= link_to post_likes_path(pos), method: :delete do %>
              ♥<%= pos.likes.count %>
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to post_likes_path(pos), method: :post do %>
              ♡<%= pos.likes.count %>
            <% end %>
          </p>
        <% end %>
        
      </div>
      <div class="col">
        <p><%= link_to "#{pos.comments.count} コメント", post_path(pos.id) %></p>
      </div>
    </div>
  </div>
<% end %>