<h2>検索結果</h2>

<!--検索対象モデルがUserの時 -->
<% if @range == "ユーザー" %>
  <% if @users.exists? %>
    <% @users.each do |user| %>
      <div class="container border  mb-3 p-3 shadow">
          <div class="row">
            <div class="col-2">
              <p>
                <% if current_admin.present? %>
                  <%= link_to admin_user_path(user) do %>
                    <%= image_tag user.get_profile_image(100,100), style: "max-width: 150%;" %>
                  <% end %>
                <% else %>
                 <%= link_to user_path(user) do %>
                    <%= image_tag user.get_profile_image(100,100), style: "max-width: 150%;" %>
                  <% end %>
                <% end %>
              </p>
            </div>
            <div class="col-10">
              <p class="text-left">ユーザーネーム：<%= user.name %></p>
                <div class="d-flex flex-row">
                  <p>自己紹介：<%= user.introduction %></p>
                </div>
                <div class="d-flex flex-row">
                  <p>
                    <% if user_signed_in? %>
                      <%=link_to"いいね一覧",likes_user_path(user), class: "btn btn-primary" %>
                    <% end %>
                  </p>
                </div>
            </div>
          </div>
      </div>
    <% end %>
  <% else %>
    <p>検索されたユーザは見つかりませんでした</p>
  <% end %>
<!--検索対象モデルがUserではない時(= 検索対象モデルが投稿の時) -->
<% else %>

  <%= render 'user/posts/index', posts: @posts %>
  
<% end %>