<%= form_with model: @post do |f| %>
    <h4>編集画面</h4>  
    <%= f.file_field :image, accept: "image/*" %>

    <p><%= f.label :投稿説明 %></br><%= f.text_area :post_text, autofocus: true %></p>
    
    <p><%= f.label :撮影日時 %></br><%= f.text_field :shoot_date %></p>
    
    <p><%= f.label :撮影時間 %></br><%= f.text_field :shoot_time %></p>
    
    <p><%= f.label :撮影場所 %></br><%= f.text_field :shoot_address %></p>
    
  <%= f.submit '保存', class: "btn btn-success"  %>
  
<% end %>
