<% @posts.each do |pos| %>
<div>
  <%= link_to post_path(pos.id) do %>
    <%= image_tag pos.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<!--%= image_tag 'sample-author1.jpg' %--></p>
  <p>ユーザーネーム：<%= pos.user.name %></p>
  <p>説明：<%= pos.post_text %></p>
  <p>撮影日時：<%= pos.shoot_date %></p>
  <p>撮影時間：<%= pos.shoot_time %></p>
  <p>撮影場所：<%= pos.shoot_address %></p>
</div>
<% end %>
