<h2>投稿詳細</h2>

<div claass="container text-right">
  <div class="row">
    <div class="col-11">
      <p class="text-right">
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success" %>
          <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="container border mb-3 p-3">
    <div class="row">
      <div class="col-2">
        <p>
          <%= link_to user_path(@post.user_id) do %>
            <%= image_tag @post.user.get_profile_image(100,100) %>
          <% end %>
        </p>
      </div>
      <div class="col-10">
        <p class="text-left">
          ユーザーネーム：<%= @post.user.name %>
          <%= link_to  user_followings_path(@post.user) do %>
            フォロー<%= @post.user.followings.count %>
          <% end %>
          <%= link_to user_followers_path(@post.user) do %>
            フォロワー<%= @post.user.followers.count %>
          <% end %></p>
          <div class="d-flex flex-row">
            <p>説明：<%= @post.post_text %></p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <%= image_tag @post.get_image, :size =>'500x300' %>
      </div>
      <div class="col">
        <div class="row d-flex align-items-center" style="height:80px;">
          <p>撮影場所：<%= @post.shoot_address %></p>
        </div>
        <div class="row d-flex align-items-center" style="height:80px;">
          <p>撮影日時：<%= @post.shoot_date %></p>
        </div>
        <div class="row d-flex align-items-center" style="height:80px;">
          <p>撮影時間：<%= @post.shoot_time %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="like_buttons_<%= @post.id %>">
          <%= render "user/likes/likes", pos: @post %>
        </div>
      </div>
      <div class="col">
        コメント<%= @post.comments.count %>
      </div>
    </div>
</div>

<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <p><%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %></br><%= f.submit "コメントする", class: "btn btn-success" %></p>
  <% end %>
</div>

<h3>コメント一覧</h3>
  <% @post.comments.each do |comment| %>
    <div class="container border p-3">
      <div class="row">
          <div class="col-2">
            <p>
              <%= link_to user_path(comment.user_id) do %>
                <%= image_tag comment.user.get_profile_image(100,100) %>
              <% end %>
            </p>
          </div>
          <div class="col-9">
            <p class="text-left">ユーザーネーム：<%= comment.user.name %></p>
            <div class="d-flex flex-row">
              <p class="mr-3"><%= comment.created_at.strftime('%Y/%m/%d') %></p>
              <p class="mr-3"><%= comment.comment %></p>
            </div>
          </div>
          <div class="col-1">
            <% if comment.user == current_user %>
              <p class="text-left"><%= link_to "削除", post_comment_path(comment.post,comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %></p>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>