<!DOCTYPE html>
<html>
  <head>
    <title>Stargazer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      /*ハンバーガーの変更*/
      .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
      
      /* ボックスの四つ角を丸くする */
      .nav-link {
        border-radius: 10px; 
      }
      
       /* ボックスの影を指定（[右][下]） */
      .shadow {
        box-shadow:7px 7px;
      }
      
      .welcome{
       font-size:80px; 
      }
    </style>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container">
          <div style="font-family: 'Amatic SC', cursive;">
            <%= link_to 'Stargazer', root_path, class: 'nav-link text-white border' %>
          </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <!--<(navbarを使う際はrowはつけない）div class="row">-->
                    <% if user_signed_in? %>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-white border' %>
                      </li>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to '投稿する', new_post_path, class: 'nav-link text-white border' %>
                      </li>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to '投稿一覧', posts_path, class: 'nav-link text-white border' %>
                      </li>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white border' %>
                      </li>
                    <% elsif admin_signed_in? %>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link text-white border' %>
                      </li>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to '投稿一覧', admin_posts_path, class: 'nav-link text-white border' %>
                      </li>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to "管理者をログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-white border' %>
                      </li>
                    <% else %>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to '投稿一覧', posts_path, class: 'nav-link text-white border' %>
                      </li>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white border' %>
                      </li>
                      <li class="nav-item text-center" style="padding:10px;">
                        <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white border' %>
                      </li>
                    <% end %>
                <!--</div>-->
              </ul>
            </div>
        </div>
      </nav>
    <div class="container text-right">
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.select :range, options_for_select([['ユーザー'], ['投稿（撮影日時）'], ['投稿（撮影時間）'], ['投稿（撮影場所）']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    </header>
    
    <div class="text-center" style="padding-top:20px;">
      <div class="text-success">
        <%= flash[:notice] %>
      </div>
      <div class="text-danger">
        <%= flash[:alret] %>
      </div>
    </div>
    
    <main class="text-center" style="padding-top:50px;">
      <%= yield %>
    </main>
  </body>
</html>
